version: '3.9'

services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: couriralsace
      POSTGRES_PASSWORD: couriralsace
      POSTGRES_DB: couriralsace
    ports:
      - '5433:5432'
    volumes:
      - couriralsace_db:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    command: server /data --console-address ':9001'
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - couriralsace_minio:/data

volumes:
  couriralsace_db:
  couriralsace_minio:
